{% extends "datavis/base.html" %}

{% block title %}{{ dataset.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <a href="{% url 'datavis:detail' dataset.id %}" role="button" class="btn btn-primary btn-lg">
                <div class="glyphicon glyphicon-chevron-left"></div>
            </a>
        </div>
    </div>

    <div class="page-header">
        <h4>{{ dataset.name }}</h4>
    </div>

    <p>{{ dataset.description }}</p>
    <p>{{ dataset.identifier }}</p>
    <p>{{ dataset.category_dataset }}</p>
    <p>{{ dataset.open_data_source }}</p>

    <hr />
    <h5>Results</h5>
    <div ng-controller="GraphController" class="overflow-x:auto">
        <script type="text/javascript">
            var ds = jQuery.parseJSON(JSON.stringify({{ data|safe }}));
            var meta = jQuery.parseJSON(JSON.stringify({{ metadata.columns|safe }}));
        </script>
        {% verbatim %}
        <div style="overflow-x:auto;height:50em;overflow-x:auto">
            <table class="table">
                <tr>
                    <th ng-repeat="x in meta">{{ x.fieldName }}</th>
                </tr>
                <tr ng-repeat="y in datatable|limitTo:100">
                    <td ng-repeat="z in meta">{{ y[z.fieldName] }}</td>
                </tr>
            </table>
        </div>
        <br />
        <div ng-if="datatable.length > 100">* Se muestran solo 100 registros</div>
        {% endverbatim %}
    </div>
    <hr />
    <h5>Names</h5>
    {% if names %}
        {% for name in names %}
            <p>{{ name }}</p>
        {% endfor %}
    {% else %}
        <p>No results.</p>
    {% endif %}
{% endblock %}