{% extends "datavis/base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
    <form id="frm-list" action="{% url 'datavis:search' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="topic" name="topic" value="{{ topic }}"
                   placeholder="Search a topic, e. g.: health, ...">
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
        <br>
        <br>
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a data-toggle="tab" href="#info"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
            </li>
            <li>
                <a data-toggle="tab" href="#filter"><span class="glyphicon glyphicon-filter"></span> Filter</a>
            </li>
            <li>
                <a data-toggle="tab" href="#order"><span class="glyphicon glyphicon-sort"></span> Order</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <div class="well"><p>Search: {{ topic }}</p></div>
            </div>
            <div id="filter" class="tab-pane fade">
                <div class="well">
                    {% if datasets %}
                    <label for="ods">Data source:</label>
                    <select id="ods" name="ods" class="form-control">
                        <option>None</option>
                        {% for ods in open_data_sources %}
                        <option value="{{ ods.id }}">{{ ods.website }}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <p>No results.</p>
                    {% endif %}
                </div>
            </div>
            <div id="order" class="tab-pane fade">
                <div class="well"><p>Order by: </p></div>
            </div>
        </div>
    </form>
    <hr />
    <h5>Results</h5>
    {% if datasets %}
        {% for ds in datasets %}
            <div class="well">
                <h5><a href="{% url 'datavis:detail' ds.id %}">{{ ds.name }}</a></h5>
                <h6>{{ ds.description }}</h6>
                <p>{{ ds.identifier }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No results.</p>
    {% endif %}
{% endblock %}